/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Fondo página principal y scrollbar */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    scrollbar-width: auto;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* Contenedor principal */
.container {
    padding: 20px;
    text-align: center;
}

/* Barra de navegación */
.navbar {
    position: sticky;
    top: 0;
    background-color: rgb(46, 46, 46) !important;
    font-size: 1em;
    text-transform: uppercase;
    z-index: 1000;
    align-items: center;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #b3b3b3;
}

.navbar-toggler {
    border: none;
    max-width: 50px;
    background-color: #fff;
}

.navbar-brand img {
    width: 50px;
    height: auto;
}

/* Contenido principal */
main {
text-align: center;
}

/* Título de la página */
.title {
    font-size: 25px;
    margin: 10px auto 10px;
    color: rgb(205, 186, 119);
    font-style: oblique;
    padding: 20px;
    font-weight: lighter;
}

/*Carousel*/

.carousel-indicators li {
    display: none;
}

/* Tarjetas (Cards) */
.card {
    top: 50px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: #ffffff;
    border-radius: 20px;
}

.card-header {
    background-color: rgb(205, 186, 119);
    border-bottom: none;
}

.card img {
    width: auto;
    height: auto;
    object-fit: inherit;
    margin: 0 auto;
    border-radius: 20px 20px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Details */
.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.product-details-content {
    text-align: center;
}

.product-details-img {
    width: 100px;
    height: auto;
    object-fit: inherit;
    margin: 0 auto;
}


/* Botones */
.card button,
.addToCart,
#checkout,
a.btn.btn-primary {
    max-width: 40%;
    background-color: #606060;
    transition: background-color 0.3s ease-in-out;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px;
}

/* reset & login */
.custom-link {
    background: none;
    border: none;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

.custom-link:hover {
    text-decoration: none;
}

.card button:hover,
.addToCart:hover,
a.btn.btn-primary:hover {
    background-color: #333;
}

/* Formulario */
form {
    max-width: 500px;
    margin: auto;
    padding: 55px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Botones de formulario */
#register,
#login,
#resetPassword,
#create,
#google,
#github {
    margin-top: 35px;
    max-width: 50%;
    background-color: #606060;
    transition: background-color 0.3s ease-in-out;
    outline: none !important;
    border: 1px solid transparent !important;
}

#register:hover,
#login:hover,
#resetPassword:hover,
#create:hover,
#google:hover,
#github:hover {
    background-color: #333;
}

/* cart */
.delete-btn {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: inline-block;
}

.delete-btn:hover {
    color: #cc0000;
}

/* Estilos para el botón de búsqueda (lupa) */

.input-group {
    margin-right: 50px;
}

.input-group button {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
}

#text {
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    width: 260px;
    height: 40px;
    font-size: 16px;
    line-height: 1;
    border-color: transparent
}

.input-group #text::placeholder {
    color: #6d6d6d;
}

#search {
    border-radius: 0;
    background-color: transparent;
    outline-color: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#search:hover {
    color: #b3b3b3;
}

#background {
    align-items: center;
}

#prev,
#next {
    background-color: transparent;
    border: none;
    color: #333;
    transition: color 0.3s ease-in-out;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    border-radius: 0;
    margin: 0 10px;
}

#prev:hover,
#next:hover {
    color: rgb(205, 186, 119);
}

/* Checkout styles*/
.checkout-section {
    text-align: center;
    margin-top: 20px;
}

#checkout-btn {
    background-color: #606060;
    transition: background-color 0.3s ease-in-out;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

#checkout-btn:hover {
    background-color: #333;
}

.quantity-control {
    position: relative; 
}

.quantity-btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 30px;
    height: 30px;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #333;
    color: #fff;
}

.quantity-btn[data-action="decrease"] {
    left: 0; /* Posiciona el botón "-" a la izquierda */
}

.quantity-btn[data-action="increase"] {
    right: 0; /* Posiciona el botón "+" a la derecha */
}


.product-thumbnail {
    max-width: 50px; 
}

.table td,
.table th {
    text-align: center; 
    vertical-align: middle; 
}


/* Estilos para el subtítulo */
.subtitle {
    margin-top: 40px;
}

/* Pie de página */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(46, 46, 46);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.main-container {
    margin-bottom: 60px;
    position: relative; 
}


.red-social a {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.red-social a:hover {
    color: #b3b3b3;
}
