<main class="flex-grow-1 w-100 d-flex flex-column">
    <section id="product-details" class="mt-4">
    </section>
</main>
<script src="../../../public/scripts/index.js"></script>
<script src="../../../public/scripts/detail.js"></script>
