<main>
    <h1>EVENTOS</h1>
    <h3>{{date}}</h3>
    {{#if details}}
    <p>{{details}}</p>
    {{else}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad porro eius nobis ea praesentium placeat,
        earum unde autem possimus natus quam, nulla dicta vitae aliquid assumenda architecto vero. Culpa! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Tempora, et! Dolore dignissimos sequi, velit tenetur id adipisci
        ducimus minima at sed, nulla eius vero. Magni tempora omnis quas expedita facere. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iste minus, deleniti dolores ad, soluta ipsa alias molestias modi eos perferendis
        nesciunt nostrum laudantium vitae numquam quam enim at incidunt obcaecati. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Exercitationem itaque odio, tempore doloremque nesciunt molestias rem voluptate
        nam, consequatur tenetur repellendus consectetur aspernatur, eligendi adipisci. Accusamus id beatae pariatur
        nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum soluta reprehenderit suscipit eum,
        tempore repudiandae blanditiis neque dicta libero obcaecati assumenda voluptatibus eveniet nisi asperiores iste
        velit nihil at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad porro eius nobis ea
        praesentium placeat,
        earum unde autem possimus natus quam, nulla dicta vitae aliquid assumenda architecto vero. Culpa! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Tempora, et! Dolore dignissimos sequi, velit tenetur id adipisci
        ducimus minima at sed, nulla eius vero. Magni tempora omnis quas expedita facere. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iste minus, deleniti dolores ad, soluta ipsa alias molestias modi eos perferendis
        nesciunt nostrum laudantium vitae numquam quam enim at incidunt obcaecati. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Exercitationem itaque odio, tempore doloremque nesciunt molestias rem voluptate
        nam, consequatur tenetur repellendus consectetur aspernatur, eligendi adipisci. Accusamus id beatae pariatur
        nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum soluta reprehenderit suscipit eum,
        tempore repudiandae blanditiis neque dicta libero obcaecati assumenda voluptatibus eveniet nisi asperiores iste
        velit nihil at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad porro eius nobis ea
        praesentium placeat,
        earum unde autem possimus natus quam, nulla dicta vitae aliquid assumenda architecto vero. Culpa! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Tempora, et! Dolore dignissimos sequi, velit tenetur id adipisci
        ducimus minima at sed, nulla eius vero. Magni tempora omnis quas expedita facere. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iste minus, deleniti dolores ad, soluta ipsa alias molestias modi eos perferendis
        nesciunt nostrum laudantium vitae numquam quam enim at incidunt obcaecati. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Exercitationem itaque odio, tempore doloremque nesciunt molestias rem voluptate
        nam, consequatur tenetur repellendus consectetur aspernatur, eligendi adipisci. Accusamus id beatae pariatur
        nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum soluta reprehenderit suscipit eum,
        tempore repudiandae blanditiis neque dicta libero obcaecati assumenda voluptatibus eveniet nisi asperiores iste
        velit nihil at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad porro eius nobis ea
        praesentium placeat,
        earum unde autem possimus natus quam, nulla dicta vitae aliquid assumenda architecto vero. Culpa! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Tempora, et! Dolore dignissimos sequi, velit tenetur id adipisci
        ducimus minima at sed, nulla eius vero. Magni tempora omnis quas expedita facere. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iste minus, deleniti dolores ad, soluta ipsa alias molestias modi eos perferendis
        nesciunt nostrum laudantium vitae numquam quam enim at incidunt obcaecati. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Exercitationem itaque odio, tempore doloremque nesciunt molestias rem voluptate
        nam, consequatur tenetur repellendus consectetur aspernatur, eligendi adipisci. Accusamus id beatae pariatur
        nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum soluta reprehenderit suscipit eum,
        tempore repudiandae blanditiis neque dicta libero obcaecati assumenda voluptatibus eveniet nisi asperiores iste
        velit nihil at!Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad porro eius nobis ea
        praesentium placeat,
        earum unde autem possimus natus quam, nulla dicta vitae aliquid assumenda architecto vero. Culpa! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Tempora, et! Dolore dignissimos sequi, velit tenetur id adipisci
        ducimus minima at sed, nulla eius vero. Magni tempora omnis quas expedita facere. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Iste minus, deleniti dolores ad, soluta ipsa alias molestias modi eos perferendis
        nesciunt nostrum laudantium vitae numquam quam enim at incidunt obcaecati. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Exercitationem itaque odio, tempore doloremque nesciunt molestias rem voluptate
        nam, consequatur tenetur repellendus consectetur aspernatur, eligendi adipisci. Accusamus id beatae pariatur
        nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum soluta reprehenderit suscipit eum,
        tempore repudiandae blanditiis neque dicta libero obcaecati assumenda voluptatibus eveniet nisi asperiores iste
        velit nihil at! tempore repudiandae blanditiis neque dicta libero obcaecati assumenda voluptatibus eveniet nisi
        asperiores iste velit nihil at! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis rerum
        harum placeat minima quas blanditiis sapiente nemo illo voluptatum. Maxime, laboriosam veniam nesciunt unde aut
        accusamus obcaecati porro quisquam! Quia!</p>
    {{/if}}
    {{#each events}}
    {{!-- cuerpo de lo que se quiere loopear --}}
    {{!-- this va a hacer ref a c/u de los elementos que se va a recorrer --}}
    {{!-- recordar q para que handlebars sepa que es una plantilla va doble {} --}}
    <h3>{{this}}</h3>
    {{/each}}
</main>
<script src="/socket.io/socket.io.js"></script>