<div class="main-container">
<main class="flex-grow-1 w-100 d-flex flex-column">
    <section id="banner-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.imgur.com/siijC78.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/n0X5WJ3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/uFsqQOu.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-bs-target="#banner-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#banner-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#banner-carousel" data-bs-slide-to="2"></li>
        </ol>
    </section>
    <h2 class="subtitle text-center">Fragrances</h2>
    <section id="perfumes" class="d-flex flex-wrap justify-content-evenly w-100 mt-3 mb-5">
        {{#each products}}
        {{/each}}
    </section>
    <span class="w-100 d-flex justify-content-center mt-4">
        <i id="prev" class="fas fa-arrow-left btn btn- fs-5 m-4 mt-0" style="font-size: 24px; cursor: pointer;"></i>
        <i id="next" class="fas fa-arrow-right btn btn- fs-5 m-4 mt-0" style="font-size: 24px; cursor: pointer;"></i>
    </span>
</main>
</div>

<script src="../../../public/scripts/index.js"></script>