<main>
    <h1>Login</h1>
    <form method="post" class="w-50 m-auto my-5">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required >
        </div>
        <button id="login" type="submit" class="w-100 btn btn-primary">Login</button>
    </form>
</main>

<script src="/scripts/login.js"></script>


