<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Essense</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h1 class="title d-none d-lg-block">Essence Selecto</h1>
            </a>
            <div class="navbar-nav flex-grow-1">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                <a class="nav-link" id="formbtn" aria-current="page" href="/form">Form</a>
                <a class="nav-link" id="registerbtn" href="/register">Register</a>
                <a class="nav-link" id="loginbtn" href="/login">Login</a>
                <a class="nav-link text-danger" id="signout" href="/signout"style="display: none;">Sign Out</a>
            </div>
            <div class="input-group" style="width: 300px;">
                <input id="text" type="text" class="form-control rounded-end" placeholder="  Search..." />
                <button id="search" class="btn btn- rounded-start" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" id="cartbtn" href="/orders">
                    <i class="fas fa-shopping-cart fa-lg"></i>
                </a>
            </div>
        </div>
    </nav>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <footer class="footer">
        <div class="red-social">
            <a href="https://www.facebook.com/?locale=es_LA" class="fa fa-facebook" target="_blank"></a>
            <a href="https://x.com/home" class="fa-brands fa-x-twitter" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        </div>
        <small>&copy; 2024 <strong>ESSENCE SELECTO</strong> - All Rights Reserved.</small>
    </footer>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/25fa1676a9.js" crossorigin="anonymous"></script>
    <script src="/scripts/signout.js"></script>
</body>

</html>