<main>
    <form class="w-50 m-auto my-5">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Photo</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <button id="newProduct" type="button" class="w-100 btn btn-primary">Submit</button>
    </form>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/new.js"></script>