<main>
    <h1>Órdenes</h1>
    <div class="order-table">
        <table class="table">
            <!-- Contenido de la tabla de órdenes -->
        </table>
    </div>
</main>

<script src="/scripts/orders.js"></script>
