<main>
    <h1>Our Updated Products</h1>
    <div id="productsContainer" class="d-flex flex-wrap justify-content-evenly custom-margin">
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>