<main>
    <h1>User Registration</h1>
    <form method="post" class="w-50 m-auto my-5">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" clear>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age">
        </div>
        <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input type="url" class="form-control" id="photo" name="photo">
        </div>
        <button id="register" type="submit" class="w-100 btn btn-primary">Register</button>
    </form>
</main>
<script src="/scripts/register.js"></script>